################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/.vs/Lab1/v15
/Lab3/.vs/Lab3/v15/Server/sqlite3
/Lab 4/.vs/Lab 4/v15/Server/sqlite3
/Lab-4/.vs/Lab-4/v15/Server/sqlite3
