################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/.vs/Lab1/v15
/Lab3/.vs/Lab3/v15/Server/sqlite3
/Lab 4/.vs/Lab 4/v15/Server/sqlite3
/Lab-4/.vs/Lab-4/v15/Server/sqlite3
/Hw 2/.vs/Hw 2/v15/Server/sqlite3
/HW2- Greatest Common Divisor/.vs/HW2- Greatest Common Divisor/v15/Server/sqlite3
/HW-Factorial/.vs/HW-Factorial/v15/Server/sqlite3
/FInd the Max/.vs/FInd the Max/v15/Server/sqlite3
/Lab - Reverse Array/.vs/Lab - Reverse Array/v15/Server/sqlite3
/Modulo Function/.vs/Modulo Function/v15/Server/sqlite3
