<hr />
<div id="entername">
    Enter Name: <input type="text" name="HeroName" id="HeroName" />
    <button onclick="StartGame();" id="StartGame">Start Game</button>
</div>
<div id="Hero" style="width:40%; float: left; position:relative; top: 20px; border:1px solid black;"></div>
<div id="Monster" style="width:40%;float: left; position:relative; top: 20px; left: 30px; border:1px solid black;"></div>

@*<button onclick="LevelUp();">Level Up</button>*@
<div id="attackDiv" style="position: relative; top: 30px; display: none; width: 40%;">
    <button onclick="Attack();" id="attack" disabled>Attack</button>
    <div id="hattackresults"></div>
    <div id="mattackresults"></div>
</div>
<script>
    var hero;
    var monster;

    function SetValues(o, e, name) {
        console.table(o);

        var Div = e;
        Div.innerHTML = "";
        var innerDiv = document.createElement('div');
        innerDiv.id = name;
        innerDiv.innerHTML = name;
        innerDiv.className = "title";
        Div.appendChild(innerDiv);

        for (var key in o) {
            if (key != "ID") {
                var val1 = o[key];
                if (key == "Weapon") {
                    var nameDiv = document.createElement('div');
                    nameDiv.id = key;
                    nameDiv.innerHTML = key;
                    nameDiv.className = "title";
                    Div.appendChild(nameDiv);
                    for (var key1 in val1) {
                        var val2 = val1[key1];
                        var subnameDiv = document.createElement('div');
                        subnameDiv.id = key1;
                        subnameDiv.innerHTML = key1;
                        subnameDiv.className = "cell";
                        Div.appendChild(subnameDiv);
                        var subvalueDiv = document.createElement('div');
                        subvalueDiv.id = val2;
                        subvalueDiv.innerHTML = val2;
                        subvalueDiv.className = "cell value";
                        Div.appendChild(subvalueDiv);
                    }
                }
                else {
                    var nameDiv = document.createElement('div');
                    nameDiv.id = key;
                    nameDiv.innerHTML = key;
                    nameDiv.className = "cell";
                    Div.appendChild(nameDiv);
                    var valueDiv = document.createElement('div');
                    valueDiv.id = val1;
                    valueDiv.innerHTML = val1;
                    valueDiv.className = "cell value";
                    Div.appendChild(valueDiv);
                }
            }
        }
    }

    function UpdateValues(data) {
        var h = document.getElementById("Hero");
        hero = data.Hero;
        SetValues(hero, h, "Hero");
        var m = document.getElementById("Monster");
        monster = data.Monster;
        SetValues(monster, m, "Monster");
    }

    function StartGame() {
        var HeroName = document.getElementById("HeroName");

        postData('/Game/GameStart', { Name: HeroName.value })
            .then(data => UpdateValues(data))
            .catch(error => console.error(error))

        document.getElementById("entername").innerHTML = "";
        document.getElementById("attack").disabled = false;
        document.getElementById("attackDiv").style.display = "block";

    }

    function doAttack(data) {
        document.getElementById("hattackresults").innerHTML = "You attack for " + data.HAttack
        document.getElementById("mattackresults").innerHTML = "Monster attacks for " + data.MAttack;

        hero.Health -= data.MAttack;
        monster.Health -= data.HAttack;

        var h = document.getElementById("Hero");
        SetValues(hero, h, "Hero");
        var m = document.getElementById("Monster");
        SetValues(monster, m, "Monster");

        }

    function LevelUp() {
        document.getElementById("Name").innerHTML;

        postData('LevelUp', { Name: HeroName.value })
            .then(data => SetHeroValues(data))
            .catch(error => console.error(error))
    }

    function Attack() {
        postData('/Game/Attack', { AttackPower: hero.AttackPower, AttackValue: hero.Weapon.AttackValue, AttackModifier: hero.Weapon.AttackModifier, MAttackPower: monster.AttackPower, MAttackValue: monster.Weapon.AttackValue, MAttackModifier: monster.Weapon.AttackModifier })
            .then(data => doAttack(data))
            .catch(error => console.error(error))
    }

    function postData(url, data) {
        // Default options are marked with *
        return fetch(url, {
            body: JSON.stringify(data), // must match 'Content-Type' header
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, same-origin, *omit
            headers: {
                'user-agent': 'Mozilla/4.0 MDN Example',
                'content-type': 'application/json'
            },
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, cors, *same-origin
            redirect: 'follow', // manual, *follow, error
            referrer: 'no-referrer', // *client, no-referrer
        })
            .then(response => response.json()) // parses response to JSON
    }
</script>


